.contactame{
    background-color: #1A99A9;
    height: auto;
    @include flex;
    position: relative;
    z-index: 1;
    gap: 10px;
    padding: 10px;

    .escribenos{
        display:none;
    }

    @include mobile{
        padding: 10px 0;
        height: auto;

        a{
            display: inline-block;
        }

        span{
            display: none;
        }

        i{
            font-size: 22px;
        }

        .escribenos{
            display:block;
        }
    }

    &:before{
        content: "";
        width: calc(100% + 3px);
        position: absolute;
        left: 0;
        display: block;
        z-index: 1;
        background: url(../img/bg_verde.svg) no-repeat;
        height: calc(100% - 40%);
        top: -60%;
        background-size: 100%;
        background-position: 0 100%;

        border:red solid 1px;
    }

    &:after{
        content: "";
        width: calc(100% + 3px);
        position: absolute;
        left: 0;
        display: block;
        z-index: 1;
        background: url(../img/bg_verde.svg) no-repeat;
        height: calc(100% - 40%);
        bottom: -60%;
        background-size: 100%;
        background-position: 0 100%;

        transform: rotate(180deg);

        border:red solid 1px;
    }
}