.proyectos {
    text-align: center;
    min-height: 100vh;
    padding: 30px 0 40px;
    background-color: #F5F5F5;
    padding:5rem 0 0;

    .cards{

        &:not(.single){
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap:40px;
            max-width: 90%;
            margin:0 auto; 
            padding:3rem 0;

            @include mobile{
                max-width: 100vw;
                margin: 15px -30px;
                gap: 10px;
                grid-template-columns: 1fr;
                padding: 0;
            }
        }

        .card{
            border-radius: 5px;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding:30px;

            @include mobile{
                padding: 30px 15px;
            }

            h1{
                color:$naranjo;
                margin:0 0 10px;
                font-family: $lato;
                font-weight: 100;
                font-size: 30px;

                @include mobile{
                    font-size: 24px;
                }
            }

            .cuantos{
                padding: 10px 0;
                color:#333;
            }

            img{
                width: 100%;
            }

            .descripcion{
                border:#ccc solid 1px;
                width: 100%;
                margin:10px 0 0;
                border-radius: 5px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 15px 0;

                @include mobile{
                    grid-template-columns: 1fr;
                }

                .valor{
                    @include flex;
                    flex-direction: column;

                    @include mobile{
                        margin:0 0 20px;
                        padding:0 10px;

                        br:nth-child(2){
                            display:none;
                        }
                    }

                    span{
                        color:$verde;
                        font-size: 24px;
                        font-weight: bold;
                    }
                }

                .detalle{

                    div{
                        padding: 3px 0;

                        display: flex;
                        align-items: center;

                        @include mobile{
                            justify-content: center;
                        }

                        svg{
                            margin:0 10px 0 0;
                        }
                    }
                }

                .kit_estanque{
                    padding: 10px;
                }
            }

            &.colector{
                grid-column: 1/3;

                @include mobile{
                    grid-column: 1/2;
                }

                .descripcion{
                    grid-template-columns: 1fr 1fr 1.5fr;

                    @include mobile{
                        grid-template-columns: 1fr;
                        padding:0 10px;
                    }

                    .detalle{
                        display: flex;;
                        justify-content: center;
                        flex-direction: column;
                    }

                    .incluye{
                        padding:10px 50px;
                        border-left:1px solid $verde;

                        @include mobile{
                            border:0;
                            border-top:1px solid $verde;
                        }
                    }
                }
            }

            &.otras{
                grid-column: 1/3;

                @include mobile{
                    grid-column: 1/2;
                }

                .otras_soluciones{
                    width: 100%;
                    display: flex;
                    gap:10px;

                    .descripcion{
                        display: flex!important;
                        @include flex;
                        flex-direction: column;
                        padding:10px;
                
                        br{
                            display: none;
                        }
                
                        .valor{
                
                            h1{
                                margin:0;
                            }
                        }
                
                        div{
                            padding:10px 0 0;
                
                            &:last-child{
                                grid-column: 1/3;
                            }
                        }
                    }
                }
                
            }
        }
    }

    @include mobile{
        &.section-padding{
            padding: 50px 40px;
        }
    }

    .section-header {
        margin: 0;
        padding: 0 10px;
    }
}


@media (max-width: 767px) {


    .proyectos .container {
        padding: 0 0 0 0;
    }

    .proyectos .container .row>.slick-arrow {
        display: none !important;
    }

    .proyectos .container .row .proyecto {
        box-shadow: none;
        border: #ccc solid 1px;
    }

    .proyectos .container .row .slick-dots {
        bottom: -17px;
    }

    .proyectos .row .slick-slide {
        padding: 0;
    }

    .proyectos .row .slick-slide .proyecto {
        margin: 0 15px 0 0;
    }
}