.somos{
    padding:5rem 0;
    background: #2F2E41;
    position: relative;

    .texto {
        
        @include mobile{
            padding:0 30px;
        }
        
        .section-title{
            color:#FFF;
            width: 100%;
        }

        p{
            color:#FFF;
        }
    }

    &:before{
        content: "";
        width: calc(100% + 3px);
        position: absolute;
        left: 0;
        display: block;
        z-index: 1;
        background: url(../img/bg_negro.svg) no-repeat;
        height: calc(100% - 80%);
        top: -20%;
        background-size: 100%;
        background-position: 0 100%;

        @include lightblue{
            right:-5px;
            width: calc(100% + 10px);
        }
    }

    &:after{
        content: "";
        width: calc(100% + 3px);
        position: absolute;
        left: 0;
        display: block;
        z-index: 1;
        background: url(../img/bg_negro.svg) no-repeat;
        height: calc(100% - 80%);
        bottom: -20%;
        background-size: 100%;
        background-position: 0 100%;

        transform: rotate(180deg);

        @include lightblue{
            left:-5px;
            width: calc(100% + 10px);
        }
    }
}